body {
  background-color: #210000;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}
header {
  background-color: #3a0000;
  padding: 20px;
}
.logo {
  width: 80px;
}
.search-section {
  margin: 20px;
}
.search-section input {
  padding: 10px;
  width: 60%;
  border-radius: 5px;
  border: none;
}
.search-section button {
  padding: 10px 20px;
  background-color: #ff1e1e;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}
.filters {
  margin: 20px 0;
}
.filters select, .filters button {
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
}
#results {
  margin: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.result-card {
  background-color: #400000;
  padding: 15px;
  border-radius: 10px;
  width: 80%;
  margin-bottom: 10px;
  text-align: left;
}
